*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  background: #f8fafc;
}

main{
  width: 80rem;
  height: 69.2rem;
  padding: 6.4rem 8rem;
}